.paper-wrapper {
  margin-right: auto;
  margin-left: auto;
  max-width: 1260px;
  padding-top: 10px;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 10px;
  background-color: white;
}

.start {
  display: flex;
  gap: 20px;
  background-color: green;
  color: white;
}

.nav {
  margin: 20px;
}

.nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.nav li {
  /* margin-left: 20px; */
}

.nav a {
  color: black;
  text-decoration: none;
  text-decoration-color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: bold;
}

#dropdown {
  /* display: ; */
  position: relative;
  color: black;
}

.magic {
  color: green;
}

.special {
  width: 30%;
  height: 250px;
}
.card {
  display: flex;
  /* margin-right: 20%; */
  gap: 25%;
  background-color: beige;
  border-radius: 8px;
  padding: 60px;
  margin: 20px;
  /* white-space: nowrap; */
}

button {
  padding: 5px 35px;
  margin: 20px;
}

.div1 {
  display: flex;
  /* gap: 40%;
  padding: 20px; */
}

.div2 {
  background-image: url("https://i.pinimg.com/236x/27/16/31/271631873ee010ea38d6e8f91e66addc.jpg");
  /* background-image: url("https://tinyurl.com/zukhazbx"); */
  background-repeat: no-repeat;
  background-size: 350%;
  background-size: cover;
  /* gap:;  */
  padding: 20px 200px;
  /* margin: 0 auto; */
  justify-content: center;
  /* margin-left: 10px; */
  background-color: beige;
  /* border-radius: 80px; */
  /* padding: 100px; */
  margin: 20px;
  /* width: 100%; Adjust the width as needed */

  border-radius: 5px;
}
.cardo {
  display: flex;
  /* gap: 20%; */
  background-color: beige;
  border-radius: 5px;
  /* padding: 60px; */
  margin: 20px;
}

h2 {
  align-items: center;
}
.card2 {
  display: flex;
  /* gap:2%; */
}

.inspire {
  margin-left: auto;
  padding: 5px;
  margin: 5%;
}

.alovera {
  width: 100%;
  height: 210px;
}
.card1 {
  display: flex;
}
.euphobian {
  width: 70%;
  height: 210px;
}
.card3 {
  display: flex;
}

.grow_orchids {
  width: 220%;
  height: 230px;
}

/* .grow1 {
  white-space: nowrap;
}  */

.springs {
  display: grid;
  grid-template-rows: table-row;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 80px;
  padding: 20px;
}

.card {
  display: grid;
  grid-template-rows: table-row;
  grid-template-columns: repeat(3, 1fr);
  padding: 40px;
  margin: 0 auto;
}

.classification {
  display: grid;
  grid-template-rows: table-row;
  grid-template-columns: repeat(3, 1fr);
}
.all {
  display: grid;
  grid-template-rows: table-row;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 100px;
}
.align {
  display: flex;
  justify-content: center;

  padding: 40px;
}

.img1 {
  width: 90%;
  height: 150px;
}
.img {
  width: 90%;
  height: 150px;
}
.img2 {
  width: 90%;
  height: 150px;
}

.img3 {
  width: 90%;
  height: 150px;
}
.img4 {
  width: 90%;
  height: 150px;
}
.img5 {
  width: 90%;
  height: 150px;
}
.img6 {
  width: 100%;
  height: 500px;
}
.return {
  justify-content: center;
  align-items: center;
  /* padding: 10px 10px;*/
  margin: 10%;
}
.bottle {
  display: grid;
  grid-template-rows: table-row;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
}
.living {
  /* align-items: center; */
  /* background-image: url("https://i.pinimg.com/736x/c2/00/ee/c200ee88860774b5f15155ffa31825a7.jpg"); */
  background-image: url("https://i.pinimg.com/564x/39/d0/dc/39d0dc1e5560305c862f9fad72810bd8.jpg");
  /* justify-content: center; */
  background-repeat: no-repeat;
  background-size: cover;
}

.grow {
  /* padding: 80px;*/
  margin: 30%;
}

.shopping {
  /* padding: 150px; */
}

.price {
  display: flex;
}

/* .leaves {
  background-repeat: no-repeat;
  background-size: contain;
  background-attachment: fixed;
} */

.vassel {
  display: grid;
  grid-template-rows: table-row;
  grid-template-columns: repeat(4, 1fr);
  /* width: 5%; */
}

.cactus {
  width: 60%;
  height: 250px;
}

.trees {
  display: grid;
  grid-template-rows: table-row;
  grid-template-columns: repeat(2, 1fr);
  padding: 30px;
}

.february {
  display: grid;
  grid-template-rows: table-row;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
}

.unknown {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.profile {
  width: 40px;
}

#woman {
  width: 60%;
  height: 120px;
}
#work {
  width: 60%;
  height: 120px;
}
#woman2 {
  width: 150%;
  height: 120px;
}

/* input {
  padding: 10px 20px;
  margin: 5%;
} */

.button {
  padding: 10px 70px;
  margin: 5%;
  background-color: green;
}

.email {
  padding: 10px 50px;
  margin: 5%;
}

.biyon {
  background-color: white;
  color: gray;
}

#subscribe {
  background-color: green;
  text-align: center;
  color: white;
}
.footer {
  display: flex;
  justify-content: center;
  gap: 20px 70px;
}

.copy {
  justify-content: center;
  padding: 40px;
  margin: auto;
}

.select-arrow {
}

@media screen and (min-width: 414px) and (max-width: 774px) {
  .start {
  }
  .nav ul {
    flex-wrap: wrap;
    flex-direction: column;
  }
  .card {
    grid-template-columns: repeat(1, 1fr);
  }
  .align {
    flex-direction: column;
  }
  .div2 {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 50px;
  }
  .special {
    width: 110%;
    height: 200px;
  }
  .img1 {
    width: 50%;
    height: 80px;
  }
  .img {
    width: 50%;
    height: 80px;
  }
  .img2 {
    width: 50%;
    height: 80px;
  }

  .img3 {
    width: 50%;
    height: 80px;
  }
  .img4 {
    width: 50%;
    height: 80px;
  }
  .img5 {
    width: 50%;
    height: 80px;
  }
  .img6 {
    width: 70%;
    height: 130px;
  }
  .springs {
    grid-template-columns: repeat(1, 1fr);
  }
  .vassel {
    grid-template-columns: repeat(2, 1fr);
  }
  .february {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px;
  }
  .unknown {
    flex-direction: column;
  }
  #woman {
    width: 60%;
    height: 250px;
  }
  #work {
    width: 60%;
    height: 250px;
  }
  #woman2 {
    width: 78%;
    height: 250px;
  }
  .grow_orchids {
    width: 60%;
    height: 230px;
  }
  .footer {
    display: flex;
    justify-content: center;
    gap: 20px 70px;
    flex-wrap: wrap;
  }
  .div1 {
    flex-wrap: wrap;
  }
  .div2 {
    background-size: auto;
    padding: 20px 100px;
    justify-content: center;
    background-color: #ffffff;
    border: 1px solid #333;
    margin: 20px;
    /* width: 100%; Adjust the width as needed */

    border-radius: 5px;
  }
  .start {
    display: flex;
    gap: 20px;
    background-color: green;
    color: white;
  }

  .nav ul {
    list-style-type: none;
    padding: 0;
    margin: 60%;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
}

@media screen and (min-width: 212px) and (max-width: 990px) {
  .vassel {
    grid-template-columns: repeat(1, 1fr);
  }
  .february {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 50px;
  }
  .springs {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (min-width: 540px) and (max-width: 1000px) {
  .vassel {
    grid-template-columns: repeat(2, 1fr);
  }
  .february {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
  }
  .springs {
    grid-template-columns: repeat(2, 1fr);
  }
  /* .div1 {
   /** background-image: url(https://tinyurl.com/zukhazbx);
    background-repeat: no-repeat;
    background-size: 60%;
    margin-top: 200px;
  } */
}

@media screen and (min-width: 540px) and (max-width: 820px) {
  .vassel {
    grid-template-columns: repeat(2, 1fr);
  }
  .february {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 50px;
  }
  .springs {
    grid-template-columns: repeat(1, 1fr);
  }
  .special {
    width: 90%;
    height: 200px;
  }
  .grow_orchids {
    width: 80%;
    height: 150px;
  }
  .trees {
    grid-template-columns: repeat(1, 1fr);
    padding: 30px;
  }
  .footer {
    display: flex;
    justify-content: center;
    gap: 20px 70px;
    flex-wrap: wrap;
  }
  .div1 {
    flex-wrap: wrap;
  }
  .footer {
    display: flex;
    justify-content: center;
    gap: 20px 70px;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 2800px) and (max-width: 653px) {
  .vassel {
    grid-template-columns: repeat(1, 1fr);
  }
  .february {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 50px;
  }
  .springs {
    grid-template-columns: repeat(1, 1fr);
  }
  .special {
    width: 90%;
    height: 200px;
  }
  .grow_orchids {
    width: 80%;
    height: 150px;
  }
  .trees {
    grid-template-columns: repeat(1, 1fr);
    /* grid-gap: 50px; */
    padding: 30px;
  }
  .footer {
    display: flex;
    justify-content: center;
    gap: 20px 70px;
    flex-wrap: wrap;
  }
  /* .div1 {
    background-image: url(https://tinyurl.com/zukhazbx);
    background-repeat: no-repeat;
    background-size: 90%;
    margin-top: 200px;
  } */
  .unknown {
    flex-wrap: wrap;
  }
}

/*@media screen and (min-width: 200px) and (max-width: px) {
  .vassel {
    grid-template-columns: repeat(2, 1fr);
  }
  .february {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 50px;
  }
  .springs {
    grid-template-columns: repeat(1, 1fr);
  }
  .special {
    width: 90%;
    height: 200px;
  }
  .grow_orchids {
    width: 80%;
    height: 150px;
  }
  .trees {
    grid-template-columns: repeat(1, 1fr);
    padding: 30px;
  }
  .footer {
    display: flex;
    justify-content: center;
    gap: 20px 70px;
    flex-wrap: wrap;
  }
  .div1 {
   flex-wrap: wrap;
  } 
  .footer {
    display: flex;
    justify-content: center;
    gap: 20px 70px;
    flex-wrap: wrap;
  }
  .div2 {
    background-image: url("https://tinyurl.com/zukhazbx");
    /* background-repeat: no-repeat; */
/* /background-size: 350%; 
     background-size: auto; 
    /* gap:;  
      padding:20px 100px;   
    /* margin: 0 auto; 
    justify-content: center;
    /* margin-left: 10px; 
    background-color: #ffffff;
    border: 1px solid #333;
    /* border-radius: 80px; 
     /* padding: 100px; 
     margin: 20px;  
    /* width: 100%; Adjust the width as needed 
     
    border-radius: 5px;
  }  
  
  
  .nav ul {
    flex-wrap: wrap;
    flex-direction: column;
  }
}*/

/*.div1 {
  background-image: url(https://tinyurl.com/zukhazbx);
  background-repeat: no-repeat;
  background-size: 20%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 200px;
  font-size: 120px;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  font-family: 'Steelfish Rg', 'helvetica neue', 
                  helvetica, arial, sans-serif;
  font-weight: 800;
  -webkit-font-smoothing: antialiased;
}*/

/*@media screen and (min-width: 280px) and (max-width: 653px) {
  .start {
    display: flex;
    gap: 5px;
    /* background-color: green; 
    color: white;
  }
  
  
  }

  .vassel {
    grid-template-columns: repeat(2, 1fr);
  }
  .february {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 50px;
  }
  .springs {
    grid-template-columns: repeat(1, 1fr);
  }
  .special {
    width: 90%;
    height: 200px;
  }
  .grow_orchids {
    width: 80%;
    height: 150px;
  }
  .trees {
    grid-template-columns: repeat(1, 1fr);
    padding: 30px;
  }
  .footer {
    display: flex;
    justify-content: center;
    gap: 20px 70px;
    flex-wrap: wrap;
  }
  .div1 {
    flex-wrap: wrap;
  }
  .footer {
    display: flex;
    justify-content: center;
    gap: 20px 70px;
    flex-wrap: wrap;
  }
}
*/
